.spaceMe3px{
  letter-spacing: 3px;
}

.footer-margin{
  height: 100px;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
}

.maxHeight100px{
  max-height: 400px;
}

.fixedHeight400px{
  height: 400px;
}
